html, body{
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #F6F6F6;

    color: #000;
    font-family: sans-serif;
}

.container{
    margin: 0;
    padding-left: 1em;
    overflow: hidden;
}

.container a{
    color: #388087;
    text-decoration: none;
}

#nav ul{
  margin: 1em 0;
  padding: 0;
	list-style: none;
}

#nav li{
	display: inline;
}

#nav a{
  padding-right: 15px;
	color: #388087;
  text-decoration: none;
  font-size: 20px;
}

#main{
  display: flex;
}

#myBoard{
  margin: 1em;
  width: 85vh;
  height: 85vh;
}

.board-b72b1{
  border: 2px solid #404040;
  box-sizing: content-box;
  margin: 0 auto;
}

.spare-pieces-7492f {
  margin: 0 auto;
  box-sizing: border-box;
}

.square-55d63 {
  position: relative;
}

.numbers {
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 100%;
  font-size: 2em;
  color: #ffffff;
  text-align: center;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
}

#content{
  max-width: 50%;
}

#content h1{
  margin: 0.5em 0;
  color: #388087;
}

#mainText{
  font-size: 20px;
}

#mainText a{
  cursor: pointer;
  text-decoration: underline;
}

#mainText p{
  margin: 0.5em 0;
}

#content h4{
  font-size: 20px;
  color: #388087;
  margin-top: 1em;
  margin-bottom: 0.25em;
}

#options{
  font-size: 20px;
  color: #388087;
}

#positions{
  color: #000;
}

#positions a{
  font-size: 20px;
  margin: 0 2px;

  cursor: pointer;
  text-decoration: underline;
}

#checks label{
  font-size: 20px;
  display: block;
  color: #000;
  width: fit-content;
}

/* Change text size for smaller screens */
@media only screen and (max-width: 768px) {
  body {
    font-size: 20px;
  }
}

@media only screen and (max-width: 320px) {
  body {
    font-size: 10px;
  }
}

/* Change behavior for smaller screens */
@media only screen and (max-aspect-ratio: 1/1) {
  #main{
    display: block;
  }

  #content{
    max-width: 100%;
    margin: 0.5em;
  }

  #mainText {
    margin-bottom: 0.5em;
  }

  #myBoard {
    float: none;
    width: 90vw;
    height: auto;
    margin: 0.5em auto;
    padding: 5px 10px;
    max-width: 90%;
    white-space: nowrap;
  }

  #options {
    margin-bottom: 1em;
  }
}

/*
Old Colors:
17252A
215051
2B7A78
3AAFA9
DEF2F1
FFFFFF

Alternative:
1F271B
19647E
218A97
F4D35E
EE964B
*/
