
body{
    background-color: #c5c1c0;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.2em;
    margin: 0;
}

.container{
    margin: 0;
    background-color: #0a1612;
	overflow:hidden;
    color: #fff;
    padding-left: 1em;
}

.container a{
    text-decoration: none;
    color: #fff;
}

#nav{
	background-color:#f7ce3e;
}

#nav ul{
	list-style: none;
    margin: 0;
    padding: 5px 1em;
}

#nav li{
	display:inline;
}

#nav a{
	color:#fff;
	text-decoration: none;
	padding-right:15px;
}

#showcase{
    background-color: #1a2930;
}

#showcase p{
    margin: 0;
    padding: 20px 1em;
}

#showcase h1{
    margin: 0;
    padding: 30px;
    font-size: 30px;
}
/*
#nav{
    background-color:#f7ce3e;
}

#nav ul{
    list-style: none;
    margin: 5px;
}

#nav li{
    display: inline;
}

#nav a{
    text-decoration: none;
    color: #fff;
}
*/
